<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%= "#{@title} | " if @title %>Heliom ⁂ Labs</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
    <%= stylesheet_include_tag 'styles' %>
    <%= javascript_include_tag 'heliom' %>

    <script type="text/javascript" src="//use.typekit.net/prd0gql.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="<%= @view_class %>">
    <meta name="velcro:bodyClass" content="<%= @view_class %>">

    <header>
      <a id="logo" href="/" data-velcro-push="#content"><img src="/images/heliom-logo.svg" alt="Heliom"></a>
      <h1><a href="/" data-velcro-push="#content">heliom <i>labs</i></a></h1>
    </header>

    <div id="content">
      <%= yield %>
    </div>

    <script>document.write('<script src="//cdnjs.cloudflare.com/ajax/libs/' +
      ('__proto__' in {} && !/firefox\/3/i.test(navigator.userAgent) ?
      'zepto/1.0rc1/zepto.min.js' : 'jquery/1.8.2/jquery.min.js') + '"><\/script>')</script>
    <%= javascript_include_tag 'scripts' %>

    <script type="text/javascript" id="gauges-base-script">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f916802f5a1f53a8200000c');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
